@mixin button-style($bg-color) {
    background-color: $bg-color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: $font-size-base;
    transition: 0.3s;

    &:hover {
        opacity: 0.8;
    }
}
